
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.first{
    background-color: #1f2937;
    display: flex;
}
.content{
    flex:1;
    flex-shrink: 1;
}
.header{
    display:flex;
    flex:1;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100px;
}
ul.header-links {
    display: flex;
    justify-content: flex-end;
    flex:1;
    flex-wrap: wrap;
}

.logo {
    
    color:#f9faf8;
    font-size: 24px;
    font-weight: bolder;
    
}

.hero{
    flex:1;
    display:flex;   
    color: white;
    margin-top: 65px;
    margin-bottom: 100px;
}

ul {
    display: flex;
    gap:30px;
    list-style-type: none;
}

li {
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB ;
    padding:10px;
}

.title {
    font-size: 48px;
    font-weight:900;
    color:#f9faf8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.left-side {
    flex:1;
    width:600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;

}

.right-side {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.right-side > img { 
    object-fit: contain;
    border-radius: 0px;   
    flex:1;
    max-height: 80%;
    max-width: 80%;
  }

.main-img:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

a:hover  {
    text-shadow: 0 0 10px #ffffff;
}


button.signup {
    padding:8px 40px;
    background-color: #3882f6 ;
    border-style: none;
    border-radius: 8px;
    color:#f9faf8;
    font-weight: bolder;
    font-size: large;
}

button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 40px;
    margin-bottom: 40px;
}

.cubes {
    margin-top:30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap:40px;

}

.cube {
    /* border: red 1px solid; */
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}

.cborder {
    flex:1 1 auto;
    border: #3882f6 4px solid;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.ctext {
    text-align: center;
    flex:1;
    width: 200px;
    color: #858585;
    font-size: 18px;

}

.container-third {
    flex:1;
    background-color: #E5E7EB;
    display: flex;
}

.third {
    flex:1;
    display: flex;
    justify-content: center;
    
}

.quotewithauthor {
    display: flex;
    flex:1;
    flex-shrink: 1;
    flex-direction: column;
    width:90%;
    margin-top: 100px;
    margin-bottom:100px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
    align-items: center;
}

.author {
    margin-top: 10px;
    flex:1;
    align-self: flex-end;
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
    
}

.author a {
    color: black;
}

.cborder > img {
    width:100%;
    aspect-ratio: 1/1;
}

.wrap-fourth {
    background-color: #1f2937;
    height:300px;
    display: flex;
}

.test {
    border: tomato 1px solid;
    flex: 1;
    background-color: white;
}

.side {
    /*  background-color: tomato; */
    flex:1;
    flex-shrink: 3;
    max-width: 25%;
     
}

.container-second {
    display:flex;
    justify-content: center;
}

.wrap-fourth {
    display: flex;
    background-color: white;
}
.fourth {
    flex:1;
    display: flex;
    align-items: center;
}

.fourth-content {
    flex:1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 130px;
    color: #f9faf8; 
    background-color: #3882f6;
    padding:40px;
    margin-top: 20px ;
    margin-bottom:20px;
    border-radius: 12px;
}

.fourth-text {
    display: flex;
    flex-direction: column;
    
    color: white;
}

.fourth-text-call {
    font-size: larger;
    font-weight: 900;
}

.fourth-text-sign {
    color: #E5E7EB;
}

.fourth-button {
    display: flex;
    padding:10px 30px;
    border: #f9faf8 2px solid;
    border-radius: 12px;
    font-weight: 900;
    flex-shrink: 0;
}

.fourth-button:hover {
    background-color: #5998fd; 
    color: black;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 40px;
}

.footer-text {
    border: white 1px solid;
    padding:10px;
}
.footer-text:hover {    
    
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    color: #000000;
    border: black 1px solid;
}

