
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.first{
    background-color: #1f2937;

}
.content{
    margin-left: 350px;
    margin-right: 350px;
    padding: 20px;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    
    color:#f9faf8;
    font-size: 24px;
    font-weight: bolder;
    
}

.hero{
    display:flex;    
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    gap:80px;
    
}

ul {
    display: flex;
    gap:30px;
    list-style-type: none;
}

li {
    font-size: 24px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB ;
    padding:10px;
}

.title {
    font-size: 48px;
    font-weight:900;
    color:#f9faf8;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
}

.left-side {
    flex:1;
    width:600px;
    display: flex;
    flex-wrap: wrap;

}

.right-side {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 90, 100);
}

.placeholder {
    flex:1;
    display: flex;
    justify-content: center;
}

img { 
    width: 100%;
    object-fit: contain;
    border-radius: 0px;
    
  }

img:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
}

a:hover  {
    border-radius: 12px;
    background-color: #1f2937;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
}


button.signup {
    padding:8px 40px;
    background-color: #3882f6 ;
    border-style: none;
    border-radius: 8px;
    color:#f9faf8;
    font-weight: bolder;
    font-size: large;
}

button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.second {
    margin-top: 20px;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 50px;
}

.cubes {
    margin-top:20px;
    display: flex;
    padding: 50px;
    gap:50px;

}

.cube {
    /* border: red 1px solid; */
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}

.cborder {
    flex:1 1 auto;
    border: #3882f6 4px solid;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.ctext {
    text-align: center;
    flex:1;
    width: 200px;
    color: #858585;
    font-size: 18px;

}

.third {
    margin-left: 350px;
    margin-right: 350px;
    
}

.formargin {
    background-color: #E5E7EB;
    display: flex;
}

.quotewithauthor {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom:100px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight:lighter;
}

.author {
    margin-top: 10px;
    align-self: flex-end;
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
}